.root {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-top: -0.5em;
  font-size: var(--font-size-small);
  line-height: 1.25;

  address {
    color: var(--color-gray-muted, #333);
  }
}

.at {
  padding-bottom: 0.25em;
  color: var(--color-gray-dim);
  font-size: 1.25rem;
}

.separator {
  display: none;
}

.name {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2;
}

@media all and (min-width: 480px) {
  .root {
    flex-flow: row wrap;
    margin-top: inherit;
    line-height: inherit;
  }

  .at {
    padding-right: 0.25em;
    padding-bottom: 0;
    font-size: inherit;
  }

  .name {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  .separator {
    display: inline;
    padding-right: 1rem;
    padding-left: 1rem;
    color: var(--color-gray-dim);
  }
}
