.root {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  font-size: var(--font-size-small);
}

.root::before {
  padding-right: 0.25em;
  color: var(--color-gray-dim);
  content: '@';
}

.root address {
  color: var(--color-gray-muted, #333);
}

.root > *:not(:last-child)::after {
  padding-right: 1rem;
  padding-left: 1rem;
  color: var(--color-gray-dim);
  content: '◦';
}
