.root {
  margin-top: 1rem;
  margin-bottom: 5rem;

  header {
    display: flex;
    flex-flow: column wrap;
    text-align: center;

    h3 {
      order: 2;
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
      line-height: 1;
    }

    .company {
      order: 3;
    }

    @media all and (min-width: 480px) {
      text-align: inherit;
    }
  }
}

.dateRange {
  order: 1;
  color: var(--color-gray-muted);
  font-size: var(--font-size-small);
  line-height: 1;
}

.desc {
  margin: 0.75em 0;
}

.projects {
  li {
    margin-bottom: 0.75em;

    small {
      color: var(--color-gray-muted, #999);
    }
  }
}

@media all and (max-width: 450px) {
  .root {
    ul {
      padding-left: 1em;
    }
  }

  .projects li {
    padding-left: 0;
  }
}
