.skill {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.root {
  ul {
    margin: 0;
    list-style: none;

    li {
      display: inline;
    }
  }
}

@media print {
  .root {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top: 1rem;

    h4 {
      margin: 0;
      margin-right: 1em;
    }

    ul {
      padding: 0;
    }
  }

  .skill {
    margin-right: 0.5em;
    margin-bottom: 0;
    font-size: var(--font-size-small);
  }

  li:not(:last-child) .skill::after {
    content: ',';
  }
}
