.root {
  font-size: small;
  fill: var(--color-gray-dim);

  :global(.recharts-polar-angle-axis) {
    font-weight: 800;
    font-size: 10px;
  }

  :global(.recharts-default-tooltip) {
    color: var(--color-text);
    background-color: var(--color-bg-body) !important;
  }

  :global(.recharts-tooltip-label) {
    font-weight: 800;
  }

  :global(.recharts-tooltip-item) {
    color: inherit !important;
  }
}

.project-polygon {
  fill: var(--color-chart-1);
  stroke: var(--color-chart-1);
}
