.root {
  font-size: small;
  fill: var(--color-gray-dim);

  :global(.recharts-polar-angle-axis) {
    font-weight: 800;
    font-size: 10px;
  }

  :global(.project-polygon polygon) {
    fill: var(--color-chart-1);
    stroke: var(--color-chart-1);
  }
}
