.root {
  min-height: 75vh;
  margin-bottom: 2rem;
  page-break-inside: avoid;

  header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-bottom: 1rem;

    @media screen and (min-width: 480px) {
      flex-flow: row wrap;
      justify-content: space-between;
    }

    nav {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
    }

    h2 {
      margin: 0;
    }

    label {
      font-size: var(--font-size-small);
    }
  }
}

:global(.dark-mode) {
  .sortBy {
    > :not([disabled="true"]):not([data-disabled="true"])[data-active="true"] {
      background-color: var(--color-text-dark, #f1f1f1);
    }
  }
}
