.headerContent {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  h2 {
    margin: 0;
  }

  label {
    padding-right: 1em;
    font-size: var(--font-size-small);
  }
}

.root {
  min-height: 75vh;
  margin-bottom: 2rem;
  page-break-inside: avoid;

  header {
    align-items: stretch;
  }
}
