.skillsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  margin-right: -1rem;
  margin-bottom: 2rem;
  page-break-inside: avoid;
}
