:root {
  --color-bg-body: #fff;
  --color-text: #696969;
  --color-text-dark: #1f1f1f;
  --color-headings: #222;
  --color-border-gray: #c5cbea;
  --color-gray-muted: #555;
  --color-gray-dim: #b6b6b6;
  --color-gray-ghost: #e4e4e4;
  --color-link: #3d7e9a;
  --font-size-small: 0.825rem;
  --color-chart-1: #8cba80;
}

html {
  font-size: 16px;
  line-height: 1.75;
}

body {
  color: var(--color-text);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--color-bg-body, #fff);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.75em;
  margin-bottom: 0.5em;
  color: var(--color-headings);
  font-weight: 200;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
}

a[href] {
  color: var(--color-link);
  text-decoration: none;
}

address {
  font-style: inherit;
}

@media screen and (min-width: 480px) {
  :root {
    --font-size-small: 0.75rem;
  }

  html {
    font-size: 18px;
  }
}

@media (prefers-color-scheme: dark) { /* stylelint-disable-line */
  :root {
    --color-bg-body: #1f1f1f;
    --color-text: #fff;
    --color-text-dark: #fff;
    --color-headings: #ccc;
    --color-border-gray: #c5cbea;
    --color-gray-muted: #a7a7a7;
    --color-gray-dim: #6c6c6c;
    --color-gray-ghost: #000;
    --color-link: #69b6e1;
    --font-size-small: 0.825rem;
    --color-chart-1: #8cba80;
  }
}
