.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 2rem;
  margin-top: 6rem;
  margin-bottom: 4rem;
  color: var(--color-gray-muted, #ccc);
  font-size: 12px;

  @media print {
    margin-bottom: 0;
    border-top: 1px solid #ccc;
  }

  small {
    font-size: inherit;

    &.dim {
      color: var(--color-gray-dim, #b6b6b6);
    }
  }

  a {
    margin-bottom: 1rem;
    color: var(--color-link);
  }
}

.ghLink {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  svg {
    font-size: 2rem;
  }
}

.resumeLink {
  display: flex;
  align-items: center;

  svg {
    margin-right: 0.5em;
  }
}

:global {
  .qr-cell-empty {
    fill: transparent;
  }

  .qr-cell-filled {
    fill: var(--color-gray-dim, #ccc);
  }
}
