.root {
  --color-ribbon: #eff9fe;
  --color-ribbon-shadow: #eee;
  --color-ribbon-hover: #fff;

  h1 {
    margin-top: 1rem;
    margin-bottom: 0;
    line-height: 1;
    white-space: pre;
    text-transform: uppercase;
  }

  address {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 1rem;
    margin-left: 1rem;
    color: var(--color-headings);
    font-size: 0.75rem;
    font-style: normal;
    line-height: 1.75rem;

    > div {
      display: flex;
      flex-flow: row nowrap;
      justify-items: flex-start;
      align-items: center;

      > *:first-child {
        margin-right: 0.5rem;
      }
    }
  }
}

.name {
  > span + span {
    padding-left: 0.5em;

    &:last-child {
      display: block;
      padding-left: 0;
    }
  }
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

@media screen and (min-width: 480px) {
  .actions {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 0.5rem;
    margin-right: -1em;

    .shadow {
      &::before,
      &::after {
        position: absolute;
        border-style: solid;
        transition: all 0.2s ease;
        content: '';
      }

      &::before {
        right: 1em;
        bottom: -0.25em;
        left: 0;
        border-width: 0 0 0.25em 0;
        border-color: var(--color-ribbon-shadow);
      }

      &::after {
        top: 0.25em;
        left: -1.25em;
        border-width: 1.5em 0.5em 1.5em 1em;
        border-color: var(--color-ribbon-shadow) var(--color-ribbon-shadow) var(--color-ribbon-shadow) transparent;
      }
    }

    > a {
      position: relative;
      height: 3em;
      margin-top: 1rem;
      padding-right: 2em;
      background-color: var(--color-ribbon);
      border-radius: 0;
      transition: all 0.2s ease;

      &::before,
      &::after {
        position: absolute;
        border-style: solid;
        content: '';
      }

      &::before {
        position: absolute;
        top: 100%;
        right: 0;
        border-width: 0 0 0.6em 1em;
        border-color: transparent transparent transparent #8e9cae;
      }

      &::after {
        top: 0;
        left: -1em;
        border-width: 1.5em 0.5em 1.5em 1em;
        border-color: var(--color-ribbon) var(--color-ribbon) var(--color-ribbon) transparent;
      }

      &:focus {
        outline: none;
        box-shadow: none !important;
      }

      &:hover,
      &:focus {
        background-color: var(--color-ribbon-hover) !important;
        transform: translate3d(0.25em, -0.25em, 0);

        &::after {
          border-color: var(--color-ribbon-hover) var(--color-ribbon-hover) var(--color-ribbon-hover) transparent;
        }

        &::before {
          border-bottom-width: 0.85em;
          border-left-width: 1.25em;
        }

        .shadow {
          &::after,
          &::before {
            transform: translate3d(-0.25em, 0.25em, 0);
          }

          &::before {
            border-bottom-width: 0.5em;
          }
        }
      }
    }
  }
}
