.root {
  --color-ribbon: #eff9fe;
  --color-ribbon-shadow: #eee;
  --color-ribbon-hover: #cdecfc;
  --color-ribbon-hover-text: #195974;
  --color-ribbon-text: var(--color-link, #69b6e1);

  :global(.dark-mode) & {
    --color-ribbon-shadow: #666;
    --color-ribbon: var(--color-link, #69b6e1);
    --color-ribbon-text: #fff;
  }

  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;

  h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1;
    white-space: pre;
    text-transform: uppercase;

    > span + span {
      padding-left: 0.5em;

      &:last-child {
        display: block;
        padding-left: 0;
      }
    }
  }
}

.contact {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: var(--color-headings);
  font-size: var(--font-size-small, 12px);
  font-style: normal;

  > div {
    + div {
      margin-top: 0.5rem;
    }

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-items: flex-start;

    > svg:first-child {
      margin-right: 0.5rem;
    }
  }
}

.rowOne {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.rowTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.objective {
  flex: 1;
  font-size: var(--font-size-small, 0.75rem);
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--color-gray-ghost, #ccc);

  > a {
    display: flex;
    align-items: center;
    padding: 0.75em 1em;
    font-size: var(---font-size-small, 12px);
    line-height: 1.2;

    svg {
      align-self: baseline;
      margin-right: 0.5em;
    }
  }

  .shadow {
    display: flex;
    align-items: center;
  }
}

.darkToggle {
  position: absolute;
  top: 1rem;
  right: 1rem;

  @media screen and (min-width: 640px) {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    order: 1;
    margin-top: 0;
  }
}

@media screen and (min-width: 480px) {
  .root {
    flex-direction: row;
  }

  .contact {
    align-items: flex-end;
  }

  .rowOne {
    flex: 3;
  }

  .rowTwo {
    flex: 2;
    align-items: flex-end;
    justify-content: flex-start;
  }

  .actions {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-right: -0.7em;
    padding-left: 1em;
    white-space: nowrap;
    border-bottom: none;

    .shadow {
      &::before,
      &::after {
        position: absolute;
        border-style: solid;
        transition: all 0.2s ease;
        content: '';
      }

      &::before {
        right: 1em;
        bottom: -0.25em;
        left: 0;
        border-color: var(--color-ribbon-shadow);
        border-width: 0 0 0.25em 0;
      }

      &::after {
        top: 0.25em;
        left: -1.25em;
        border-color: var(--color-ribbon-shadow) var(--color-ribbon-shadow) var(--color-ribbon-shadow) transparent;
        border-width: 1.5em 0.5em 1.5em 1em;
      }
    }

    > a {
      position: relative;
      height: 3em;
      padding-right: 2em;
      color: var(--color-ribbon-text, #69b6e1);
      background-color: var(--color-ribbon);
      border-radius: 0;
      transition: all 0.2s ease;

      + a {
        margin-top: 1rem;
      }

      &::before,
      &::after {
        position: absolute;
        border-style: solid;
        transition: all 0.2s ease;
        content: '';
      }

      &::before {
        position: absolute;
        top: 100%;
        right: 0;
        border-color: transparent transparent transparent #8e9cae;
        border-width: 0 0 0.6em 1em;
      }

      &::after {
        top: 0;
        left: -1em;
        border-color: var(--color-ribbon) var(--color-ribbon) var(--color-ribbon) transparent;
        border-width: 1.5em 0.5em 1.5em 1em;
      }

      &:focus {
        outline: none;
        box-shadow: none !important;
      }

      &:hover,
      &:focus {
        color: var(--color-ribbon-hover-text);
        background-color: var(--color-ribbon-hover) !important;
        transform: translate3d(0.25em, -0.25em, 0);

        &::after {
          border-color: var(--color-ribbon-hover) var(--color-ribbon-hover) var(--color-ribbon-hover) transparent;
        }

        &::before {
          border-bottom-width: 0.85em;
          border-left-width: 1.25em;
        }

        .shadow {
          &::after,
          &::before {
            transform: translate3d(-0.25em, 0.25em, 0);
          }

          &::before {
            border-bottom-width: 0.5em;
          }
        }
      }
    }
  }
}
