.root {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;

  h1 {
    margin-top: 1rem;
    margin-bottom: 0;
    line-height: 1;
    white-space: pre;
    text-transform: uppercase;
  }

  address {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 1rem;
    margin-left: 1rem;
    color: var(--color-headings);
    font-size: 0.75rem;
    font-style: normal;
    line-height: 1.75rem;

    > div {
      display: flex;
      flex-flow: row nowrap;
      justify-items: flex-start;
      align-items: center;

      > *:first-child {
        margin-right: 0.5rem;
      }
    }
  }
}

.name {
  > span + span {
    padding-left: 0.5em;

    &:last-child {
      display: block;
      padding-left: 0;
    }
  }
}
