.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;

  /* @media screen and (min-width: 480px) {
    padding-right: 2rem;
    padding-left: 2rem;
  } */

  @media screen and (min-width: 72em) {
    width: 72em;
  }
}
